<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>
<main id="root"></main>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script>
  window.avengersLogo = '<%= asset_path('avengers_logo.png')%>'
  window.avengersDefaultCover = '<%= asset_path('avengers_default_cover.jpg')%>'
  window.avengersDefaultProfile = '<%= asset_path('avengers_default_profile.png')%>'
  window.navPeople = '<%= asset_path('people.png') %>'
  window.navMessenger = '<%= asset_path('messenger.png') %>'
  window.navGlobe = '<%= asset_path('globe.png') %>'
  window.navDownArrow = '<%= asset_path('downArrow.png') %>'
  window.navHelp = '<%= asset_path('help.png') %>'
  window.navSearch = '<%= asset_path('search.png') %>'
  window.upArrow =  '<%= asset_path('upArrow.png') %>'
</script>
